

.flex-container{
    display: flex;
    gap:10px;
    align-items: center;
}

.profile-layout{
    display: grid;
    grid-template-columns: 1,1fr;
    grid-gap: 10px;
    padding: 10px;
}



.popup{
    background-color: orange;
    color:white;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:10px
}


.heading{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.email{
    font-size: 16px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:10px;
    margin: 10px 0px;
}

.card{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.edit-btn{
    width: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}
.delete-account-btn{
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}

@media screen and (min-width:768px){
    .profile-layout{
        grid-template-columns: repeat(2,1fr);
    }
    .heading{
        font-size: 26px;
        text-align: center;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}