
img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    display: block;
}

/* .home-top-container{
    height: 100vh;
    place-items: center;

} */

h1{
    margin:10px;
    padding: 6px;
    font-size: 18px;
    
    border-radius: 8px;
    color:black;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    cursor: pointer;
    transition:all 0.5s ease;
    
}

h1:hover{
    transform: scale(1.02);
}
img{
    transition: all 0.5s ease;
    cursor: pointer;
}

img:hover{
    transform: scale(1.02);
}

.lock-home{
    margin:60px 0px;
}


@media screen and (min-width:768px) {
    
   

    h1{
        font-size: 24px;
    }
}