.nav-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    margin: 10px 0px;
}

.nav-item:hover {
    background-color: black;
    color: white
}

.nav-text {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    font-size: 20px;
}

.link-item {
    text-decoration: none;
}


.sidebar {
    display: none;
    margin-top: 62px;
    height: 100vh;
    box-shadow: 0px 0px 1px black;
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 10px;
    background-color: aliceblue;

}

.expense-button{
    width: auto;
    display: flex;
    background-color: transparent;
    border-width: 0px;
    font-size: 16px;
    font-weight: bolder;
}

.expense-heading{
    color: magenta;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .sidebar {
        display: block;
    }

}