.dropdown{
    width: 200px;
    border: 1px solid magenta;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.grid-expense-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 10px 0px;
    grid-gap: 10px;
}

@media screen and (min-width:768px){
    .grid-expense-container{
        grid-template-columns: repeat(3,1fr);
    }
}