

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: purple;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    height: 60px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.footer-text{
    font-size: 18px;
}

@media screen and (min-width:768px){
    footer{
        display: none;
    }
}