.grid-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    padding: 10px;
    grid-gap: 10px;
}

.link{
    text-decoration: none;
    color:dodgerblue;
    font-size: 20px;
    font-weight: 600;
}

form{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px
}

.eye{
    position: absolute;
    left:90%;
    top:10px;
    bottom:23px;
    font-size: 20px;
}

@media screen and (min-width:768px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}

.input-wrapper{
    position: relative
}

.label{
    font-size: 16px;
    color: black;
    position: absolute;
    left:10px;
    top:8px;
    pointer-events: none;
    transition: 0.6s;
    padding: 4px;
    outline: none;
    border-radius: 10px;
    color: orange;
    font-weight: 600;
    background-color: white;
}

.input-element{
    color:magenta;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none !important;
    width: 100%;
    height: 40px;
    padding: 6px;
    border-width: 0px;
    border-radius: 8px;
}

.input-element:focus+.label,
.input-element:valid+.label{
    top:-16px;

}