body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}



main{
    margin-top: 60px;
    padding: 6px;
    line-height: 1.4;
    margin-bottom: 60px;
}

@media screen and (min-width:768px){

    main{
        margin-left: 220px;
    }
}